<!-- .navbar -->

<!-- .navbar-expand class can create navigation bar vertical depending on the screen size -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

      <!-- .navbar-brand class ids for company, product, or project name -->
      <a class="navbar-brand" href="#">BBBank</a>
      
      <!-- Toggler/collapsibe Button -->

      <!-- .navbar-toggler class is used to determine when the content toggles behind a button -->
      <!-- data-bs-target="" used to target the navbar content to collapse/Toggle when matches the content's id="" -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                                                   data-bs-target="#navbarSupportedContent" 
                                                   aria-controls="navbarSupportedContent" 
                                                   aria-expanded="false" 
                                                   aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Content -->

      <!-- The .collapse .navbar-collapse classes are for grouping and hiding navbar contents by a parent breakpoint -->
      <!-- The id="" of navbar content should matches with the button data-bs-target="#" to work toggle properly -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- .navbar-nav class is for full-height and lightweight navigation (including support for dropdowns) -->
        <ul class="navbar-nav mb-2 mb-lg-0 ml-nav-custom">

          <li class="nav-item dropdown d-flex flex-end">
            
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
                                                role="button" 
                                                data-bs-toggle="dropdown" 
                                                aria-expanded="true">
                <div class="photo">
                    <img alt="Profile Photo" src="assets/images/profile.jpg" />
                </div>
                Rajaas Tahir
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>

          </li>

        </ul>
      </div>

    </div>
  </nav>
